/* место для вашего кода */

body {
  font-size: 18px;
  color: #111;
  background: #fff;
}

.content-section {
  box-sizing: border-box;
}


/* --------------HEADER------------- */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 0 96px 15px;
  background: #fff;
  overflow: hidden;
}

.header__menu {
  width: auto;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;;
  /* gap: 20px; */
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.header__menu-item {
  color: #111;
  text-decoration: none;
  font-weight: 400;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  list-style: circle;
  padding: 0;
}

.header__menu-item a {
  display: block;
}

.header__menu-item-active {
  text-decoration: none;
  list-style: none;
}


.header__logo-image {
  flex: 0 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 105px;
  margin-right: 15px;
  margin-top: 1px;
}

.address {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-size: 18px;
}

.address__header {
  text-align: left;
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

p .address__text {
  word-break: normal;
}


/* --------------COVER------------- */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: normal;
  padding: 80px 50px 0 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items:baseline ;
  width: 100%;
  margin-top: 80px;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.1;
}

.accent-span {
  display: block;
  width: 100%;
  margin: 18px 0 0 16px;

}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 112px 0 50px 1px;
  color: #fff;
  font-weight: 400;
  word-spacing: 19px;
}

.cover__subtitle {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 15%;
  text-transform: uppercase;
}

.cover__button {
  background: transparent;
  border: 2px solid currentColor;
  color: #fff;
  padding: 12px 32px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

/* --------------LOTS------------- */
.lots {
  margin-top: 181px;
  /* width: 1052px; */
}

.lots__heading {
  margin-left: 64px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 27px;
}

.lots__card-list {
  /* opacity: 1; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 26px;
  list-style: none;
  margin-left: 24px;
}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 334px;
}

.card__title {
  width: 254px;
  position: relative;
  z-index: 2;
  color: #fff;
  margin: 48px 48px 16px 40px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  font-size: 22px;
  margin-bottom: 35px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_art {
  background-image: url('../images/card-lot-03.jpg');
}

.card h2 {
  text-decoration: underline;
}

.card__text {
  width: 254px;
  position: relative;
  z-index: 2;
  color: #fff;
  margin: 0 40px 47px 40px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  display: block;
  color: #111;
  text-decoration: underline;
  margin: 33px 0 0 64px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

/* --------------ABOUT------------- */

.about {
  display: grid;
  grid-template-columns: 324px auto;
  gap: 60px;
  margin-top: 156px;
  margin-bottom: 80px;
  align-items: flex-start;
  left: 24px;
}

.about__column_logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 71px;
}

.about__logo img {
  width: 148px;
  height: 114px;
  display: block;

}

.about__column_content {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: 400;
  font-size: 40px;
  line-height: 100%;
}

.about__content {
  margin-top: 104px;
  margin-right: 20px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.02px;
  margin-top: 100px;
}

.about__text p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

/* --------------FOOTER------------- */

.footer {
  display: grid;
  grid-template-columns: 287px 488px 235px;
  place-items: center;
  /* align-items: center; */
  padding: 40px 0 32px 0;
  font-size: 16px;
  background: #fff;
  margin-top: 96px;
  gap: 0 20px;
}

.address__footer {
  margin-top: 24px;
  margin-left: 50px;
  max-width: 240px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
  justify-self: end;
}

.footer__social-list li {
  width: 48px;
  height: 48px;
  margin-left: 28px;
  display: block;
}

.footer__social-link {
  display: block;
}


